<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Root Map</title>
</head>
<body>
    <h2>Instruction for DJango : </h2>
    <ul>
        <li>Step 1 : Install Python from internet</li>
        <li>Step 2 : Install PyCharm Communinity Edition from internet</li>
        <li>Step 3 : Create New Project in pycharm </li>
        <li>Step 4 : Open Terminal in pycharm and type </li>
        <li>Step 4.1 : pip install django </li>
        <li>Step 5 : check Django Version if successfully Installed </li>
        <li>Step 5.1 : python -m django --version </li>
        <li>Step 6 : Start new project for django Type Command in terminal </li>
        <li>Step 6.1 : django-admin startproject DEMOPROJECT </li>
        <li>Step 7 : Now Run Python webserver to get django webpage | Type Below Command </li>
        <li>Step 7.1 : python manage.py runserver </li>
        <li>Step 8 : Now create new app and can create n number of app </li>
        <li>Step 8.1 : Type command in terminal </li>
        <li>Step 8.2 : python manage.py startapp DEMOAPP </li>
        <li>Step 9 : python manage.py runserver </li>
    </ul>
</body>
</html>